/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.button {
  color: white;
  background-color: #553100;
  text-align: center;
  padding: 0.25em;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.card {
  background-color: white;
  box-shadow: 0.12em 0.12em 0.12em 0em black;
  transition: 0.3s;
  display: table-cell;
  padding: 1em;
}

.header-card {
  display: table-cell;

}

.card-content {
}

.row {
  display: table;
  border-spacing: 1em;
  width: 100%;
}

#nav {
  width: 10%;
}

body {
  margin: 0em;
  background-color: #D4A76A;
  font-family: sans-serif;
}
header {
  color: #553100;
  background-color: #FFDBAA;
  border-bottom: 1px solid black;
}

main {
}