/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.button {
  color: white;
  background-color: #553100;
  text-align: center;
}

.card {
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.multi-column {
  column-count: 3;
}

body {
  margin: 0em;
}
header {
  color: #553100;
  background-color: #FFDBAA;
  border-bottom: 2px;
  border-color: black;
}

main {
  background-color: #D4A76A;
}